<% if object.errors.any? %>
  <div class="alert alert-danger">
    入力エラーが <%= object.errors.count %>件ありました。
  </div>
  <ul class="error-explanation">
    <% object.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

